

<div class="login-dark" style="background-image: url(&quot;assets/img/login-desktop.jpeg&quot;);">
    <div class="banner">
        <img src="assets/img/sistema.png" alt="Banner Imagen">
    </div>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-black" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
    
                <div class="mb-md-5 mt-md-4 pb-5">
    
                    <h2 class="fw-bold mb-2 text-uppercase">BIENVENIDO A UPC</h2>
    
                    <div data-mdb-input-init class="form-outline form-black mb-4">
                    <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                    <label class="form-label" for="typeEmailX">Nombre de usuario</label>
                    </div>
    
                    <div data-mdb-input-init class="form-outline form-black mb-4">
                    <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX">Contraseña</label>
                    </div>
    
                    <p class="small mb-5 pb-lg-2"><a class="text-black-50" href="#!">¿OLVIDASTE TU CONTRASEÑA?</a></p>
    
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Iniciar sesión</button>
    
                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                    
                    <a id="link-login" href="/Group/Index" class="btn btn-block btn-accent" name="button" value="login">
                        <object type="image/svg+xml" data="https://s3-eu-west-1.amazonaws.com/cdn-testing.web.bas.ac.uk/scratch/bas-style-kit/ms-pictogram/ms-pictogram.svg" class="x-icon" control-id="ControlID-1"></object>
                        Accede usando tu correo institucional
                    </a>
                    </div>
    
                </div>
    
                <div>
                    <p class="mb-0">¿Necesitas ayuda? <a href="#!" class="text-black-50 fw-bold">Ingresa aquí</a>
                    </p>
                </div>
    
                </div>
            </div>
        </div>
        </div>
        <footer id="footer">
            <div class="container-fluid">
              <div id="custom-main-menu">
                <div class="col-12 pb-4 pb-md-0">
                  <p class="text-white-50 mb-0 text-center pt-2 UPC-razon-social">Universidad Peruana de Ciencias Aplicadas S.A.C - R.U.C: 2021161454</p>
                </div>
              </div>
            </div>
          </footer>
        </div>
    </section>


</div>
