<header class="welcome-header">
    <div class="logo-system-container">
        <div class="logo">
            <img src="/assets/img/logo1.png" alt="Logo de la Universidad">
        </div>
        <div class="system-name">
            SISTEMA DE MATRICULA
        </div>
    </div>
    <button class="user-profile" id="userProfile">
        <img src="/assets/img/profile.png" alt="Foto de perfil de María Lopez">
        <div class="user-info">
            <p>María Lopez</p>
            <p>Código: U20241B656</p>
        </div>
        <img src="/assets/img/up.png" id="toggleArrow" alt="Toggle Arrow">
    </button>
    <div class="logout-button" id="logoutButton">
        <a href="index.html" class="logout-link">
            <img src="/assets/img/salida.png" alt="Icono de salida"> Salir
        </a>
    </div>
</header>

<main>
    <div class="content">
        <div class="sidebar-container">
            <div class="sidebar">
                <nav class="sidebar-nav">
                    <ul>
                        <li>
                            <a href="welcome">
                                <img src="/assets/img/tesis.png" alt="Logo" class="sidebar-logo"> Matrícula
                            </a>
                        </li>
                        <li><a href="enrollment-guide">Guía de Matrícula 2024</a></li>
                        <li><a href="schedule-simulation">Consulta de Horarios</a></li>
                        <li><a routerLink="course-selection">Iniciar Matrícula</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</main>
